
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 60%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slides {
    display: flex;
    height: 100%;

}

.slide {
    min-width: 100%;
}
.slide img {
    width: 100%;
    height: 100%;
}

.slide-controls {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content:space-between ;
}
#next-btn, #prev-btn {
    cursor: pointer;
    padding: 5px;
}

#text {
    display: flex;
    justify-content: center;
}